@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Özelleştirilmiş Input */
.custom-input {
    width: 70%;
    padding: 10px 10px 10px 40px; /* Padding left increased for the icon */
    font-size: 18px;
    border: none;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    border-bottom: 3px solid white;
    outline: none;
    transition: border-color 0.3s ease;
    position: absolute;
    background: url('https://www.google.com/favicon.ico') no-repeat 10px center; /* Background image */
    background-size: 20px 20px; /* Background size */
    color: #c7b7b7;
}

.custom-input:focus,
.custom-input:hover {
    border-color: #6c6385;
    transition: border-color 0.3s ease;
}

/* Giriş Bölümü */
.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

/* Video Konumlandırma */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #333;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .video-container video {
        left: 0;
        transform: translate(0, -50%);
    }
}
